//Colors 

$primaryColor: #1B1E26;
$secondaryColor: #FE7040;
$lightGray: #F2F2F2;
$darkGray: #E6E6E6;
$textDarkGray: #2F2F2F;
$textLightGray: #989898;
$fontFamily: "Cerebri Sans Pro";


//Typography

$navBarText--fs : 15px;
$navBarText--fw : 500;

$cta--fs: 80px;
$ctaText--fw: 800;


//Typography Hero_section

$heroText1--fs : 3.75rem;
$heroText1--fw : 700;
$heroText2--fs : 1.25rem;
$heroText2--fw : 400;

